@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-size: 20px;
    font-family: "Nunito", sans-serif;

}
body {
    
    background-color: #ffffff; 
    position: relative;
    padding-bottom: 100px;
}

/*navegacion*/

header{
    background-color: #24262b;
    display: flex;
    justify-content: space-between;
    text-align: center;
    height: 85px;
    padding: 5px 10%;

}

.header .logo {
    cursor: pointer;
    text-align: left;
}
.header .logo img{
    height: 70px;
    width: auto;
    transition: all 0.3s;
    border-radius: 58%;

}

.header .logo img:hover{
    transform: scale(1.2);
}

.header .nav-links li{
    display: inline-block;
    padding: 20px 20px;
}

.header .nav-links li{
    transform: scale(1.3);
}

.header .nav-links a{
    font-size: 700;
    color: #f0f0f0;
    text-decoration: none;
    

}
.header .nav-links li a:hover{
    color: #640707;

}

.header .btn button{
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3 aese 0s;
    margin-top: 10px;
}



.header .btn button:hover{
    background-color: #e65656;
    color:rgb(213, 213, 204);
    transform: scale(1.1);
}
/*navegacion*/

/* contenido video y fondo   */



.background .search {
    position: absolute; 
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    text-align: center;
    z-index: 1;
    top: 100px; 
    width: calc(100% - 40px); 
    max-width: 600px; 
}


.search h2 {
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
}

.search-fields {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.search-fields input {
    padding: 5px;
    width: 100%;
}

.search-fields button {
    padding: 5px 10px;
    background-color: rgb(255, 0, 0);
    color: white;
    border: none;
    cursor: pointer;
}

.search-fields button:hover {
    background-color: #ff0000;
}
/* contenido imagenes y botones*/

.locurote {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 50px; 
    margin-top: 70px;
   
    
}

.image-container {
    flex: 1;
    margin-right: 10px; 
    text-align: center;
    padding: 0 10px;

}

.image-container img {
    width: 100%; 
    height: auto; 

}



.locurote .btn button{
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3 aese 0s;
    margin-top: 10px;
}
.locurote .btn{
    margin-left: 60px;
}

.locurote .btn button:hover{
    background-color: #e65656;
    color:rgb(213, 213, 204);
    transform: scale(1.1);
}
.esconder button {
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s; /* Corregido el tiempo de transición */
    margin-top: 10px;
}

.esconder {
    margin-left: 60px;
}

.esconder button:hover {
    background-color: #e65656;
    color: rgb(213, 213, 204);
    transform: scale(1.1);
}


/* contenido imagenes y botones*/
iframe {
    margin-bottom: 300px;
    
}

.direccion{
    text-align: center;
}
/* footer */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

footer {
    background-color: #24262b;
    padding: 80px 0;
    bottom: 0;
    position: absolute;
    width: 100%;
   
}


.footer-row{
    display: flex;
    flex-wrap: wrap;
}

.footer-links{
    width: 25%;
    padding: 0 15px;

}

.footer-links h4{
    font-size: 20px;
    color: #f0f0f0;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #ff0000;
    padding-bottom: 10px;
    display: inline-block;

}

.footer-links ul li a {
    font-size: 18px;
    text-decoration: none;
    color: #BBBBBB;
    display: block;
    margin-bottom: 5px;
    transition: all .3s ease;
}
.footer-links ul li a:hover{
    color: #ffffff;
    padding-left: 6px;
}

.social-links a{
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all .5s ease;


}

.social-links a:hover{
    background-color: #ff0000;
}


  


/* footer */

/* Estilo para ocultar todas las diapositivas por defecto */
.mySlides {
    display: none;
  }
  
  /* Estilo para centrar el título */
  .w3-center {
    text-align: center;
  }
  
  /* Estilo para hacer que las imágenes del slideshow ocupen todo el ancho del contenedor */
  .w3-content {
    max-width: 500px;
  }
  
  /* Estilo para hacer que las imágenes del slideshow sean responsivas */
  .mySlides {
    width: 100%;
    height: 900px;
  }

/**************/
/* responsive */
/*************/
/* Estilos para pantallas pequeñas */
/* Estilos para pantallas pequeñas */
@media screen and (max-width: 768px) {

    .background .search {
    top: 470px;


}

iframe {
    width: auto;
    height: 200px;
    margin-bottom: 400px;
}
.image-container img {
    width: 80%; 
    height: auto; 

}



    .mySlides {
    width: 100%;
    height: 300px;
    display: none;
  }

    .nav-links {
      display: none;
      position: absolute;
      top: 80px; /* Ajusta según la altura de tu encabezado */
      left: 0;
      width: 100%;
      background-color: #000000;
      padding: 20px 0;
      text-align: center;
      z-index: 1000;
    }

    .nav-links.active {
      display: block;
    }
  
    .nav-links li {
      display: block;
      padding: 10px 0;
    }
  
    .nav-links a {
      color: #f0f0f0;
      font-size: 16px;
    }
  
    .button {
      display: block;
      text-align: right;
    }
  
    .button button {
      font-weight: 700;
      color: #000000;
      padding: 9px 25px;
      background: #eceff1;
      border: none;
      border-radius: 50px;
      cursor: pointer;
      transition: all 0.3s ease 0s;
      margin-top: 10px;
    }
    .button button:hover {
        background-color: #e65656;
        color: rgb(213, 213, 204);
        transform: scale(1.1);
    }
    .esconder{
      display: none;
    }

    .btn button {
        font-size: 14px; 
        padding: 6px 15px; /* Ajusta el padding para que el botón sea más pequeño */
      }

    /* botones*/


  

    .locurote .btn button {
        padding: 6px 10px; 
    }

    .locurote {
        flex-direction: column;
        align-items: center;  
        margin-top: 250px;
    }

    .image-container {
        margin-right: 0; 
    }

    .locurote .btn {
        margin-left: 0; 
        
    }
}

  
  /* Estilos para pantallas grandes */
  @media screen and (min-width: 769px) {
    .button {
      display: none;
    }

    .formualrioreposnsive{
        display: none;
      }
      
  
    .nav-links {
      display: flex !important;
    }
  
    .nav-links li {
      display: inline-block;
      padding: 20px 20px;
    }
  
    .nav-links a {
      font-size: 16px;
      color: #f0f0f0;
      text-decoration: none;
    }
  
    .nav-links li a:hover {
      color: #640707;
    }
  }
  
